<div class="grid">

  <div class="grid-item large--two-thirds">

    <h1 class="page-title">{{ page.title }}</h1>

    <div class="rte">
      {{ page.content }}
    </div>

  </div>

  <div class="grid-item large--one-third">
    {% section 'side-bar' %}
  </div>

</div>
